.hero {
    background: #e8e6e0;
    color: #7a8a9f;
    text-align: center;
    padding: 80px 20px;
  
    h1 {
      font-size: 2rem;
      line-height: 1.5;
    }
  
    .bleuBlanc {
      background-color: #26a2cc;
      color: white;
    }
  
    .text-blue {
      color: #26a2cc;
    }
}